html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.center-content {
    display: flex;
    justify-content: center;
}

.center-content .logo {
    margin-top: 2em;
}

.logo img {
  width: 260px;
}

@media (max-width: 380px) {
  .logo img {
    width: 180px;
  }
}

.copy {
  text-align: justify;
  max-width: 400px;
  min-width: 200px;
  margin-left: 1em;
  margin-right: 1em;
}

.copy a:hover {
  color: black;
}

.copy a:visited {
  color: blue;
}

.copy a {
  color: blue;
}

.copy p {
  margin-top: 2em;
}
